<br>
<hr>
<span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
<span class="social-share">
    <a href="http://connect.qq.com/widget/shareqq/index.html?url={{ site.url }}{{ page.url }}&title={{ page.url }}" class="tag">
        <span class="term"><i class="fa fa-qq"></i> QQ</span>
    </a>
    <a href="http://service.weibo.com/share/share.php?title={{ site.url }}{{ page.url }}" title="Share on Twitter" class="tag">
        <span class="term"><i class="fa fa-weibo"></i> 微博</span>
    </a>
</span>
<div style="clear:both"></div>

<center>
<span style="color:red;">如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作！</span>
<br>
<span><button onclick="pay()" class="tag"><span class="term">赞赏</span></button></span>

<div  id="play" style="display:none">
  <img src="../img/pay.png"/>
</div>


</center>
<script>
  function pay() {
    $("#play").attr("style","display:block");
  }

</script>


<!--
<script >
  function pay(){
    window.open ('../pay.html','支付',
    'height=220,width=470,top=200,left=200,toolbar=no,menubar=no,scrollbars=no,resizable=no,
location=no,status=no')
}
</script>
-->
